#Documents
/_Docs

#Jupyter checkpoints
/.ipynb_checkpoints
/Additional_info/.ipynb_checkpoints
/Additional_info/Basic_Keras/.ipynb_checkpoints

#Python cache
/__pycache__

#Others
/Additional_info/*.npy
/Additional_info/*.npz


#Plot pictures
